.menu-mobile {
  display: none;
}

@media screen and (max-width: 840px) {
  .menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1A1B22;
    margin: auto;
    padding: 55px 0 0 0;
    min-height: 568px;
    width: 100%;
    position: relative;
    top: -55px;
  }

  .menu-mobile__position {
    display: none;
    font-size: 18px;
  }

  .menu-mobile__link {
    color: white;
    margin-top: 55px;
  }

  .menu-mobile__position {
    max-width: 619px;
    margin: 0 -20px;
    display: flex;
  }
  .menu-mobile_type_close {
    margin-top: -568px;;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .4s, .4s ease;
  }
  .menu-mobile_type_open {
    display: flex;
    height: 90px;

    opacity: 1;
    transition: all 0s, .4s ease;
  }
}
