.menu-mobile {
  display: none;
  font-size: 18px;
  min-height: 286px;
  position: relative;
  top: -55px;
  color: white;
  margin: -286px -40px 0;
  background-color: #1A1B22;
  transition: all .4s, .4s ease;
  border-radius: 0 0 16px 16px;
}

.menu-mobile_open {
  margin-top: 0;
  transition: all 0s, .4s ease;
}

.menu-mobile__container {
  display: none;
}

.menu-mobile__button {
  min-height: 56px;
  background-color: transparent;
  margin-top: 40px;
  display: block;
}

.menu-mobile__link {
  margin-top: 35px;
  color: white;
}

@media screen and (max-width: 710px) {
  .menu-mobile {
    display: flex;
  }

  .menu-mobile__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 358px;
    margin: auto;
    padding: 70px 16px 22px;
  }
}

@media screen and (max-width: 500px) {

  .menu-mobile__container {
    width: 288px;
  }
}
