.saved-news-header__title {
  font-family: 'Roboto', 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  padding-top: 40px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news-header__subtitle {
  font-family: Roboto Slab, Georgia, 'Times New Roman', Times, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  margin: 0;
  padding-top: 28px;
  max-width: 600px;
}

.saved-news-header__text {
  font-family: 'Roboto', 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 56px;
}

.saved-news-header__text_bold {
  font-weight: bold;
}
@media screen and (max-width: 960px) {

  .saved-news-header__title {
    padding-top: 26px;
    font-size: 14px;
  }

  .saved-news-header__subtitle {
    padding-top: 16px;
    font-size: 30px;
    line-height: 34px;
    max-width: 500px;
  }

  .saved-news-header__text {
    padding-top: 16px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

@media screen and (max-width: 710px) {
  .saved-news-header {
    padding-top: 55px;
  }
}

@media screen and (max-width: 500px) {
  .saved-news-header {
    padding-top: 55px;
  }
  .saved-news-header__title {
    padding-top: 10px;
    font-size: 12px;
  }
  .saved-news-header__text {
    font-size: 18px;
  }
}
