.button-burger-menu {
  display: none;
}

@media screen and (max-width: 840px) {
  .button-burger-menu {
    width: 16px;
    height: 16px;
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
}

.button-burger-menu:after,
.button-burger-menu:before,
.span {
  background-color: white;
  content: "";
  display: block;
  height: 2px;
  margin: -2px 0;
  transition: all 0.3s ease-in-out;
}

@keyframes close-one {
  from {
    transform: rotate(135deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes close-two {
  from {
    transform: rotate(-135deg);
  }
  to {
    transform: rotate(0);
  }
}

.button-burger-menu_type_closed:before {
  animation: close-one ease 0.4s forwards;
  margin: 4px 0;
}

.button-burger-menu_type_closed:after {
  animation: close-two ease 0.4s forwards;
  margin: 4px 0;
}

@keyframes open-one {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(135deg);
  }
}

@keyframes open-two {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-135deg);
  }
}

.button-burger-menu_type_opened:before {
  animation: open-one ease 0.4s forwards;
  position: relative;
  top: 1px;
}

.button-burger-menu_type_opened:after {
  animation: open-two ease 0.4s forwards;
  position: relative;
  top: 1px;
}
