.search-form {
  background-image: url("../../images/background.jpg");
  background-size: cover;
  background-position: center;
  width: auto;
  height: 576px;
  margin: -80px -16px 0;
}

@media screen and (max-width: 840px) {
  .search-form {
    margin-top: 0;
  }
}
