.search-form {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../../images/background.jpg") center;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  background-size: cover;
  margin: -80px -104px 0;
  max-height: 576px;
}

.search-form__container {
  padding: 0 16px;
  height: 576px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: calc(608px);
  color: white;
}

.search-form__title {
  font-family: Roboto Slab, monospace;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  margin: 0;
  padding-top: 78px;
}

.search-form__subtitle {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding-top: 32px;
}

.search-form__input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: white;
  border: 1px solid #d1d2d6;
  margin-top: 64px;
}

.search-form__input {
  border: none;
  box-sizing: border-box;
  width: 100%;
  backdrop-filter: blur(8px);
  border-radius: 100px;
  margin-left: 20px;
}

.search-form__button {
  height: 64px;
  background-color: #2F71E5;
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  border: none;
  width: 230px;
  align-self: flex-start;
  backdrop-filter: blur(8px);
}

@media screen and (max-width: calc(1100px + 56px)) {
  .search-form {
    margin-left: -56px;
    margin-right: -56px;
  }
}

@media screen and (max-width: calc(1000px + 32px)) {
  .search-form {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media screen and (max-width: 760px) {
  .search-form {
    margin-top: 0;
  }

  .search-form__container {
    max-width: 452px;
  }

  .search-form__title {
    align-self: flex-start;
    max-width: 385px;
    margin-left: 0;
    font-size: 36px;
    line-height: 40px;
  }

  .search-form__subtitle {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: calc(448px)) {
  .search-form__input-container {
    flex-direction: column;
    background-color: transparent;

  }

  .search-form__button {
    width: 100%;
    max-width: 448px;
  }
}
