.header {
  max-width: 1440px;
  min-width: 200px;
  margin: 0 auto;
  left: 16px;
  right: 16px;
  height: 100%;
}

.header__border {
  position: absolute;
  top: 86px;
  left: 0;
  right: 0;
  margin: 0 -104px;
  border-bottom: 1px solid hsla(0, 0%, 100%, .2);
}

@media screen and (max-width: calc(1100px + 56px)) {
  .header__border {
    margin: 0 -56px;
  }
}

@media screen and (max-width: calc(1000px + 32px)) {
  .header__border {
    margin: 0 -16px;
  }
}

.header__container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 18px 0 14px;
}

.header__menu {
  display: flex;
  margin: auto 0;
}

.header__logo {
  margin: auto 0;
  font-family: Roboto Slab, monospace;
  font-weight: 700;
  font-size: 20px;
}

.header__text {
  font-weight: 500;
  font-size: 18px;
  margin: auto 34px auto auto;
}

.header__button-logout {
  margin: auto;
}

@media screen and (max-width: 840px) {
  .header {
    /*включить*/
    position: fixed;
  }
  .header__border {
    top: 0;
  }

  .background {
    position: absolute;
    left: -16px;
    right: -16px;
    top: 0;
    height: 56px;
    z-index: -3;
    background: #2A65CC;
    overflow: hidden;
  }

  .background__picture {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../../images/background.jpg") top;
    background-size: cover;
    height: calc(576px + 80px);
  }

  .header__container {
    padding: 18px 4px 18px 0;
    /*width: 100%;*/
  }

  .header__border {
    position: fixed;
    height: 55px;
  }

  .header__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    left: -16px;
    right: -16px;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    transition: all .7s, .7s ease;
  }

  .header__overlay_open {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0s, .7s ease;
  }


  .header__button {
    display: none;
  }

  .header__text {
    display: none;
  }

  .header__logo {
    font-size: 16px;
  }
}

