.header {
  max-width: 1440px;
  min-width: 200px;
  margin: 0 auto;
  left: 16px;
  right: 16px;
  height: 100%;
}

.header__border {
  left: 0;
  right: 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, .2);
}

.header__container-image {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../../images/background.jpg") top;
  background-size: cover;
  z-index: 3;
  margin: 0 calc(-104px + 32px);
}

@media screen and (max-width: calc(1100px + 56px)) {
  .header__container-image {
    margin-left: -56px;
    margin-right: -56px;
  }
}

@media screen and (max-width: calc(1000px + 32px)) {
  .header__container-image {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media screen and (max-width: 840px) {
  .header__container-image {
    margin: 0 calc(-104px);
  }
}







.header__container {
  position: relative;
  /*object-fit: contain;*/
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 18px 0 14px;
  margin-left: calc(104px - 32px);
  margin-right: calc(104px - 32px);
}


.header__menu {
  display: flex;
  margin: auto 0;
}

.header__logo {
  margin: auto 0;
  font-family: Roboto Slab, monospace;
  font-weight: 700;
  font-size: 20px;
}

.header__text {
  font-weight: 500;
  font-size: 18px;
  margin: auto 34px auto auto;
}

.header__button-logout {
  margin: auto;
}

@media screen and (max-width: 840px) {
  .header {
    /*включить*/
    position: fixed;
  }

  .header__border {
    position: fixed;
    height: 55px;
  }

  .header__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    left: -16px;
    right: -16px;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    transition: all .7s, .7s ease;
  }

  .header__overlay_open {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0s, .7s ease;
  }

  .header__container {
    padding: 18px 4px 18px 0;
    margin: 0 calc(104px);
  }

  .header__button {
    display: none;
  }

  .header__text {
    display: none;
  }

  .header__logo {
    font-size: 16px;
  }
}

