.button {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 100px;
  max-width: 358px;
  min-width: 112px;
  min-height: 48px;
  background-color: transparent;
  color: white;
}

.button_outline {
  border: 1px solid;
}

.button__position {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin: 0 auto;
}

.button__position_header {
  display: grid;
  grid-template-columns: repeat(2, min-content);
}

.button__text {
  max-width: calc(358px - 90px);
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 18px;
}

