.menu-mobile {
  display: flex;
  font-size: 18px;
  min-height: 568px;
  position: relative;
  top: -55px;
  margin:   0 -16px;;
}

.menu-mobile__container {
  display: none;
}

.menu-mobile__button {
  min-height: 56px;
  color: white;
  background-color: #1A1B22;
  display: block;
}

.menu-mobile__link {
  color: white;
  margin-top: 55px;
}

.menu-mobile_type_close {
  visibility: hidden;
  margin-top: -568px;
  height: 0;
  opacity: 0;
  transition: all .4s, .4s ease;
}
.menu-mobile_type_open {
  height: 90px;
  opacity: 1;
  transition: all 0s, .4s ease;
}

@media screen and (max-width: 840px) {
  .menu-mobile {
    background-color: #1A1B22;
  }

  .menu-mobile__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 358px;
    margin: auto;
    padding: 55px 16px 0;
  }

}
