.footer {
  padding: 28px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  display: flex;
}

.footer__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 20px 0 0;
}

.footer__list:last-child {
  margin-right: 0;
  align-items: center;
}

.footer__item {
  margin-right: 38px;
}

.footer__item_social-icon:last-child {
  margin: 0 0 0 -10px;
}

.footer__link {
  display: flex;
  color: #1a1b22;
  font-size: 18px;
}

.footer__copyright {
  display: flex;
  color: #B6BCBF;
  font-size: 16px;
  white-space: nowrap;
  margin: auto 0;
}

@media screen and (max-width: 760px) {
  .footer {
    padding-top: 20px;
  }


  .footer__container {
    flex-direction: column-reverse;
    min-width: 288px;
  }

  .footer__menu {
    justify-content: space-between;
  }

  .footer__list:first-child {
    flex-direction: column;
  }

  .footer__link {
    margin: 0 0 20px;
  }

  .footer__list_social-icon:last-child {
    align-items: start;
  }

  .footer__copyright {
    margin-top: 42px;
  }
}
