.news-card-list {
  background-color: #F5F6F7;
}

.news-card-list__container {
  list-style: none;
  padding: 48px 0 0;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 16px;
  grid-column-gap: 16px;
  -webkit-column-gap: 16px;
  column-gap: 16px;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .news-card-list__container {
    row-gap: 10px;
    grid-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }
}

@media screen and (max-width: 710px) {
  .news-card-list__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    grid-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .news-card-list__container {
    grid-template-columns: 1fr;
  }
}

